
html { 
    height: 100%;
    overflow: hidden;
}

#social { 
    
}

.s-m { 
    text-align: center;
}

.sm a { 
    display: inline-flex;
    width: 40em;
    height: 40em; 
    background: #2c3e50;
    color: white;
    margin: 0 6em;

}